@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

body {
  display: block;
  background-color: black;
}

a{
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0.4;
    transform: translateX(-10deg);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideleft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.Header {
  width: 100%;
  background-color: #343A40;
  padding-bottom: 2.5%;
}

.title {
  float: left;
  padding-top: 2px;
  padding-left: 3%;
}

.title a, h1 {
  padding-top: 2px;
  font-family: 'Rancho', cursive;
  text-decoration: none;
  color: white;
}

.anchors {
  width: 40%;
  padding-top: 2.4%;
  margin-left: 20%;
}

.anchors a {
  padding: 2% 5%;
  border: none;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  transition-duration: 0.4s;
}

.anchors a:hover {
  border-radius: 25px;
  border: 2px solid white;
  padding: 2% 6%;
  color: black;
  background: white;
}

#sidebar {
  visibility: hidden;
  padding-top: 10%;
  height: 100%;
  width: 100%;
  position: fixed;
  right: -105%;
  top: 0;
  background-color: #343A40;
  transition-duration: 1s;
  z-index: 1;
}

#sidebar li {
  padding: 6%;
  list-style: none;
  color: White;
  font-size: 2em;
  text-align: left;
  text-decoration: none;
}

.togglebtn {
  position: absolute;
  right: 112%;
  top: 3.5%;
}

.togglebtn span {
  display: block;
  height: 4px;
  background-color: white;
  margin: 5px 0;
  border-radius: 25px;
  transition-duration: 0.4s;
}

.togglebtn {
  width: 30px;
}

.one {
  width: 30px;
}

.two {
  width: 20px;
}

.three {
  width: 25px;
}

.togglebtn:hover span {
  width: 30px;
}

#sidebar li a {
  transition-duration: 0.5s;
  text-decoration: none;
  border: none;
  color: white
}

#sidebar li a:hover {
  border-radius: 25px;
  border: 2px solid white;
  padding: 2% 6%;
  transition-duration: 0.2s;
}

#sidebar.active {
  transition-duration: 1s;
  right: 0;
}

.container{
  max-width: 1170px;
  margin:auto;
  text-align: left;
}
.row{
	display: flex;
	/* flex-wrap: wrap; */
}
.footer ul{
	list-style: none;
  text-align: left;
  padding-left: 0;
}
.footer{
	background-color: #24262b;
  padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
  text-align: left;
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.copyrights{
  padding: 5%;
  text-align: center;
}
.copyrights p{
  color: #ffffff;
}
@media (max-width:850px) {
  #sidebar{
    visibility: visible;
  }
  .title{
    padding-left: 5%;
  }
  .anchors{
    display: none;
    background: #343A40;
  }
  .togglebtn{
    top:2.5%;
  }
  .Header{
    background: #343A40;
    height: 70px;
  }
}
@media (max-width:768px) {
  #sidebar{
    visibility: visible;
  }
  .title{
    padding-left: 7%;
  }
  .anchors{
    display: none;
    background: #343A40;
  }
  .Header{
    background: #343A40;
    height: 80px;
  }
  .togglebtn{
    top:3.5%;
  }
  .footer-col{
    width: 100%;
    margin-bottom: 30px;
  }
  .row{
    flex-wrap: wrap;
  }
}
