@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200,400&display=swap');

*{


}
.form{
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.form-container{
  padding: 2rem;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
  width: 35%;
  align-items: center;
  text-align: center;
  margin: auto;
  /* margin-left: 50%; */
}

.login-h1{
  text-align: center;
  /* padding-left: 13rem; */
}

.login-h1 h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000000;
}

.loginform{
  /* width: 50%; */
  align-items: center;
  /* padding-left: 50%; */

}

.input-form{
  padding: 5%;
  /* margin-left: 50%; */
}

.input-form input{
  font-family: 'Roboto', sans-serif;
  width: 80%;
  height: 2rem;
  padding: 2%;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border: none;
  border-bottom: 2px solid #000000;
  transition-duration: 0.4s;
}

.input-form input:focus-within{
  outline: none;
  border-bottom: 2px yellow solid;
  transform: scale(1.2, 1.1);
}

.login-btn{
  padding: 5%;
  margin-right: auto;
  text-align: center;
}

.login-btn button{
  padding: 2% 5%;
  border: none;
  text-align: center;
  margin: auto;
  background: var(--main-color);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  font-size: 1rem;
  transition: all 0.4s ease;
}

.login-btn button:hover {
  letter-spacing: .2rem;
}

.oAuth-btn{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: auto;
}
.oAuth-btn ul li {
  display: inline-block;
  padding: 2%;
} 
.oAuth-btn ul{
  padding: 0%;
}
.oAuth-btn a{
  font-size: 2rem;
  
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.oAuth-btn p{
  display: none;
  opacity: 0;
  transition: all 1s linear;
  overflow: hidden;
}

.o-btn:hover + p{
  display: inline;
  opacity: 1;
}

.hide{
  list-style: none;
}

