@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');


*{
  
}

.display{
  display: flex;  
}


.img-sty{
  padding-top: 5.6%;
  
}

.sign-quick{
  color: #b6baba;
  font-size: 15px;
}

.form{
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.form-container{
  padding: 2rem;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
  width: 80%;
  align-items: center;
  text-align: center;
  margin: auto;
  /* margin-left: 50%; */
}

.signup-h1{
  text-align: center;
  /* padding-left: 13rem; */
}

.signup-h1 h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000000;
  font-weight: bold;
}

.signupform{
  /* width: 50%; */
  align-items: center;
  /* padding-left: 50%; */

}

.input-form{
  padding: 5%;
  /* margin-left: 50%; */
}

.input-form input{
  font-family: 'Roboto', sans-serif;
  width: 80%;
  height: 2rem;
  padding: 2%;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border: none;
  border-bottom: 2px solid #000000;
  transition-duration: 0.4s;
}

.input-form input:focus-within{
  outline: none;
  border-bottom: 2px yellow solid;
  transform: scale(1.2, 1.1);
}

.dob h2{
  text-align: left;
  padding-left: 4rem;
  font-size: 15px;
  color: #b6baba;
}

.gender h2{
  text-align: left;
  padding-left: 4rem;
  font-size: 15px;
  color: #b6baba;
}


.signup-btn{
  
  padding: 5%;
  margin-right: auto;
  text-align: center;
}



.signup-btn button{
  padding: 2% 5%;
  border: none;
  text-align: center;
  margin: auto;
  color: white;
  background: #42b72A;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.4s ease;
}


.signup-btn button:hover {
  letter-spacing: .2rem;
}


